<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <title>Add - Notice</title>
	 <link rel="stylesheet" href="static/style/reset.min.css">
	 <link rel="stylesheet" href="static/style/form.min.css">
	 <link rel="stylesheet" href="static/style/addnotice.min.css">
</head>
<body>
	<div class="top-nav" onselectstart="return false">
		<div class="logo-wrapper">
			<div class="logo"></div>
		</div>
		<p class="title">添加通知</p>
		<div class="clock"></div>
	</div>
	<div class="container">
		<form action="/notice" method="POST" class="form-central">
			<fieldset>
				<legend align="center">添加通知</legend>
				<div class="control-group">	
					<div class="control">
						<label class="control-label" for="time">过期时间</label>
						<div class="controller">
							<select name="time" id="time">
								<option value="1">1天</option>
								<option value="2">2天</option>
								<option value="3">3天</option>
								<option value="4">4天</option>
								<option value="5">5天</option>
								<option value="6">6天</option>
								<option value="7">7天</option>
								<option value="8">8天</option>
								<option value="9">9天</option>
								<option value="10">10天</option>
								<option value="11">11天</option>
								<option value="12">12天</option>
								<option value="13">13天</option>
								<option value="14">14天</option>
								<option value="15">15天</option>
							</select>
						</div>
					</div>
					<div class="control">
						<label class="control-label" for="passwd">消息内容:</label>
						<div class="controller">
							<textarea name="content" id="content" cols="50" rows="5"></textarea>
						</div>
					</div>
				</div>
				<input type="submit" class="btn" value="提交"/>
			</fieldset>
		</form>
	</div>
	<div class="footer">
		<div class="copyright">
			华中科技大学 &#169 大软院
		</div>
	</div>
	<script src="static/script/jquery-1_10_1.min.js"></script>
	<script src="static/script/time.min.js"></script>
	<script src="static/script/message.min.js"></script>
</body>
</html>